
szotar-362715-b509492797b1.json
__pycache__/main.cpython-39.pyc
__pycache__/main.cpython-39.pyc
__pycache__/main.cpython-39.pyc
*.pyc
.ipynb_checkpoints/SZOTAR-checkpoint.ipynb
*.pyc
*.pyc
*.pyc
.ipynb_checkpoints/SZOTAR-checkpoint.ipynb
